.class{
    background-image: url("Cielo.png");
    border-radius: 1.2em 1.2em 1.2em 1.2em;
    align-items: center;
}
p{
    font-family: monospace;
    font-size: larger;
    text-align: center;
}
